/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 92px 49px 96px 51px;
}
.header-menu {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
}
.header-menu_list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: circle;
}
.point-menu__activ {
  list-style: none;
}
.point-menu__activ .header-menu_link {
  text-decoration: none;
}
.header-menu_link {
  color: #000;
  font-size: 18px;
}
.logo {
  width: 148px;
  height: 105px;
}
.logo-header {
  display: flex;
  grid-column-start: 3;
  justify-content: center;
}
.contact-header {
  display: grid;
  justify-items: end;
  grid-column-start: 5;
}
.contact-list {
  color: #000;
  font-size: 18px;
  line-height: 135%;
  list-style: none;
}
.cover {
  position: relative;
  z-index: 1;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}
.cover-conteiner {
  padding: 165px 50px 62px;
  /*отступы для  cover, мешают 
  позицианированию блока overlay*/
}
.cover__title {
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}
.aligned-text {
  display: flex;
  margin-bottom: 20px;
}
.letter-spacing-extended {
  letter-spacing: 60px;
}
.aligned-text_center {
  justify-content: center;
}
.aligned-text_right {
  justify-content: right;
}
.letter-spacing-norm {
  letter-spacing: 30px;
}
.no-letter-spacing {
  letter-spacing: 0;
}
.cover__description {
  display: flex;
  justify-content: right;
  margin-top: 135px;
}
.cover__description-text {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  line-height: 127.273%;
  text-transform: uppercase;
  word-spacing: 16px;
}
.bet-button {
  margin-left: 78px;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  background: transparent;
}
