/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 87px 49px 97px 51px;
}
.header-menu {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
}
.header-menu_list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: circle;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.point-menu__activ {
  text-decoration: none;
}
.header-menu_link {
  color: #000;
  font-size: 18px;
}
.logo {
  width: 148px;
  height: 105px;
}
.logo-header {
  display: flex;
  grid-column-start: 3;
  justify-content: center;
}
.contact-header {
  display: grid;
  justify-items: end;
  grid-column-start: 5;
  align-self: center;
}
.contact address {
  font-style: normal;
}
.contact-list {
  color: #000;
  font-size: 18px;
  line-height: 135%;
  list-style: none;
}
.cover {
  position: relative;
  z-index: 1;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}
.cover-conteiner {
  height: 757px;
  padding: 180px 50px 35px;
  /*отступы для  cover, мешают 
  позицианированию блока overlay*/
}
.cover__title {
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}
.aligned-text {
  display: flex;
  margin-bottom: 20px;
}
.letter-spacing-extended {
  letter-spacing: 60px;
}
.aligned-text_center {
  justify-content: center;
}
.aligned-text_right {
  justify-content: right;
}
.letter-spacing-norm {
  letter-spacing: 30px;
}
.no-letter-spacing {
  letter-spacing: 0;
}
.cover__description {
  display: flex;
  justify-content: right;
  margin-top: 135px;
}
.cover__description-text {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  line-height: 127.273%;
  text-transform: uppercase;
  word-spacing: 16px;
}
.bet-button {
  margin-left: 89px;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  background: transparent;
}
.lots {
  padding: 180px 50px 181px;
}
.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  list-style: none;
}
.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
  margin-bottom: 30px;
}
.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}
.card {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-size: cover;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.card__title {
  width: 350px;
  margin-top: 50px;
  color: #fff;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.card__text {
  width: 350px;
  margin-bottom: 50px;
  color: #fff;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}
.lots__look-more-link {
  margin-left: 40px;
  color: #000;
  font-size: 20px;
}
.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 0 50px 180px;
}
.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}
.about__logo-image {
  width: 148px;
}
.about__title {
  grid-column-start: 2;
  margin: 100px 0;
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
}
.text-about {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  gap: 25px;
  font-size: 20px;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 90px;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  list-style: none;
}
.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  list-style: none;
}
.footer__social-icon {
  height: 100%;
}
